{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "./data/bible.json": "../src/data/bible.json",
          "./utils/abbreviations": "../src/utils/abbreviations",
          "./utils/validation": "../src/utils/validation"
        }
      }
    ]
  ]
}
